<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chess Player</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <!--CSS CDNs-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--JS CDNs-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body class="text-center">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Chess Player</h1>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
              <strong>{{field.name|title}}:</strong> {{ error|escape }}
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>{{ error|escape|title }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert {{message.tags}} alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}

      <label for="id_username" class="sr-only">Username</label>
      <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
      <label for="id_password" class="sr-only">Password</label>
      <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
      <h6 class="font-weight-normal">Don't have an account yet? <br> <a href="/accounts/register">Create one now!</a></h6>
    </form>
  </body>
</html>