{% for game in games %}
    <tr class="table-row" style = "cursor:pointer" data-href="{{game.game_id}}"> 
    {% if game.player_w %}
        <th scope="row"> {{ game.player_w }} </th>
        <td> Black </td>
    {% else %}
        <th scope="row"> {{ game.player_b }} </th>
        <td> Black </td>
    {% endif %}
    <td> {{game.game_time.time}} + {{game.game_time.increment}} </td>
    </tr>
        
{% endfor %}
