{% extends "chess/home.html" %}
{% block content %}
{% load static %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Opponent</th>
        <th scope="col">Your colour</th>
        <th scope="col">Time control</th>
      </tr>
    </thead>
    <tbody id ="gameList">

    </tbody>
  </table>
<script src="{% static 'chess/js/findgame.js' %}" type="text/javascript"> </script>

{% endblock content %}