{% extends "chess/home.html" %}
{% block content %}
{% load static %}
<body>
    <h1> Welcome to the game id: <p id="game_id">{{game_id}}<p>. Playing as: <p1 id="colour">{{colour}} </h1>
    <img src="{% static '/chess/img/chesspieces/wikipedia/wQ.png' %}" alt = "Not loaded">
    <p>{% static '/chess/img/chesspieces/wikipedia/wQ.png' %}</p>
    <!-- TODO: Change this player_colour to sessions or smth-->
    <div class = "row">
        <div class = "col-6">
            <div game_id={{game_id}} player_colour={{colour}} id="myBoard" style="width: 400px"></div>
        </div>
        <div class = "col-6">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">White</th>
                    <th scope="col">Black</th>
                  </tr>
                </thead>
                <tbody id ="move-list">
            
                </tbody>
              </table>
            </div>


        </div>
    </div>

    <div>White Clock: <span id="whiteClock"></span></div>
    <div>Black Clock: <span id="blackClock"></span></div>

</body>

<link rel="stylesheet" href="{% static '/chess/css/chessboard-1.0.0.min.css' %}">

<script src="{% static 'chess/js/chess.js' %}" type="text/javascript"> </script>
<script src="{% static 'chess/js/clock.js' %}"></script>

<script src="{% static 'chess/js/chessboard-1.0.0.js' %}" type="text/javascript"> </script>

<script src="{% static 'chess/js/websocket.js' %}" type="text/javascript"></script>
<script src="{% static 'chess/js/game.js' %}" type="text/javascript"></script>

{% endblock content %}