{% extends "chess/home.html" %}
{% block content %}
<div class="content-section">
    <form id="creategame-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Create a game</legend>
            {{ form.as_p }}
            
        </fieldset>
        <div>
            <button type="submit"> Go </button>
        </div>
    </form>
</div>
{% endblock content %}