{% extends "chess/home.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {% comment %} <fieldset class="form-group">
            <legend class="border-bottom mb-4">Play</legend>
            {{ form.as_p }}
            <div>
                <button class="btn btn-outline-info" type="submit"> Create Game </button>
            </div>
        </fieldset> {% endcomment %}
        {% comment %} <a href="/newgame/" class="btn btn-outline-info" type="submit"> Create Game </a> {% endcomment %}

        <p> <a href="/newgame/" type="submit"> Create Game </a> </p>

        <p> <a href="/findgame/" type="submit"> Find Game </a> <p>

    </form>
</div>
{% endblock content %}