{% extends "chess/home.html" %}
{% block content %}
{% load static %}

<div class="content-section">
    <h3> Searching for an opponent ...</h3>
</div>
<script src="{% static 'chess/js/search.js' %}" type="text/javascript"></script>

{% endblock content %}

