<html>
    <body>
        {% comment %} {% for endpoint_parent, endpoint_functions in endpoints.items %}
            <h1> {{ endpoint_parent }} </h1>
            {% for endpoint, function in endpoint_functions.items %}
                <p> {{endpoint_parent_split}} / {{ endpoint }} </p>
                
            {% endfor %}
        {% endfor %} {% endcomment %}
        {% for endpoint_file, data in endpoints.items %}
            <h1> {{ endpoint_file }} </h1>
            {% for endpoint, function in data.endpoints.items %}
                <p> {{ data.PREFIX }}/{{ endpoint }} </p>
            {% endfor %}
        {% endfor %}
    </body>
</html>